
/* Common Css */
body {font-family: 'Yantramanav', sans-serif;}
.padding0 {padding:0;}
.margin0 {margin:0;}
.mrT10 {margin-top:10px;}
.mrT20 {margin-top:20px;}
.mrT30 {margin-top:30px;}
.mrB10 {margin-bottom:10px;}
.mrB20 {margin-bottom:20px;}
.mrB30 {margin-bottom:30px;}